.footer__links {
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 18px;
    max-width: 465px;
}
 
 @media screen and (max-width: 767px){
    .footer__links {
        max-width: 186px;
        flex-direction: column;
        gap: 32px;
        
   }
 }